<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
     style="background-image: url('/Images/celine_sarat_header.jpg');">
    <a href="@($"/")" class="elegant-font" style="text-decoration: none; color:white">
        <h1>Celine & Sarat wedding</h1>
    </a>
</div>