<div class="bg-image d-flex flex-column align-items-center justify-content-center text-center"
     style="
    background-image: url('/Images/saratceline.png');
    height: 200px;
  ">
    <a href="@($"/")">
        <h1>Celine & Sarat wedding</h1>
    </a>
</div>